@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:800&subset=korean');
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

/* 노말라이징 */
body {
    -webkit-text-size-adjust: 100%;
    font-weight: 400;
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
    font-size: 1em;
    line-height: 1.25;
    color: #555;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
    margin: 0;
    padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
    display: block;
}

button,
input[type=submit],
input[type=reset],
input[type=button] {
    overflow: visible;
    cursor: pointer;
}

input[type=text],
input[type=email],
input[type=password],
input[type=submit],
textarea {
    -webkit-appearance: none;
}

input,
select,
textarea,
button {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
    border-radius: 0;
}

button {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

ul li {
    list-style: none;
}

img,
fieldset {
    border: none;
    vertical-align: top;
}

hr {
    display: none;
}

a,
a:link {
    text-decoration: none;
    color: #555;
}

a:visited {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #222;
}

a:active {
    text-decoration: none;
}

/* header */
#header {
    border-bottom: 1px solid #eee;
    padding-left: 5rem;
}

#header .inner {
    position: relative;
    max-width: 1080px;
    margin: 0 auth;
}

#header h1 {
    padding: 23px 0;
    font-family: 'Nanum Myeongjo';
    font-weight: 800;
    font-size: 1.75em;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #333
}

#header h1 a{
    display: inline-block;
    height: 23px;
    text-decoration: none;
    color: #333;
    vertical-align: top;
}

#header h1 img {
    width: auto;
    height: 32px;
}

#header .util{
    position: absolute;
    top: 24px;
    padding-right: 3rem;
    right: 0;
}

#header .util .search{
    position: relative;
    float: left;
    overflow: hidden;
    width: 32px;
    background-color: #fff;
    box-sizing: border-box;
    transition: width 0.5s;
    /* -webkit-transform: width 0.5s; */
}

#header .util .search:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    width: 32px;
    height: 32px;
    border: 1px solid  #eee;
    border-radius: 50%;
    text-indent: -999em;
    background: #fff url(https://tistory2.daumcdn.net/tistory/900710/skin/images/ico_package.png);
    vertical-align: top;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}

#header .util .search input{
    width: 32px;
    height: 32px;
    padding: 5px 15px;
    border: 0;
    background-color: transparent;
    font-size: 0.875em;
    line-height: 1;
    outline: none;
    box-sizing: border-box;
}

#header .util .search input:focus{
    border-color: #484848;
}

#header .util .search input::placeholder{
    color: #969696;
}

#header .util .search button{
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 10;
    width: 30px;
    height: 30px;
    text-indent: -999em;
    border: 1px solid #eee;
    border-radius: 50%;
    background: #fff url(https://tistory2.daumcdn.net/tistory/900710/skin/images/ico_package.png) no-repeat -1px -1px;
    vertical-align: top;
    outline: none;
}

#header .util .search.on {width: 200px;}
#header .util .search.on {content: none;}
#header .util .search.on input{
    display: block;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 32px;
}

#header .util .search.on button {border-color: transparent;}
#main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#header .util .Login{
    position: relative;
    float: left;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-left: 12px;
    display: block;
    width: 45px;
    height: 30px;
    text-align: center;
}
#main #contents {
    min-height: 500px;
    background-color: #00ffff;
    margin-right: 10px;
}

#main #sidebar {
    min-height: 500px;
    background-color: #00bfff;
}

#footer {
    margin-top: 10px;
    background-color: #00bfff;
}

@media(max-width:600px) {
    #main {
        display: block;
    }

    #main #contents {
        margin-bottom: 10px;
        margin-right: 0px;
    }

    #main #sidebar {
        min-height: 0;
    }
}